/* body {
    text-align: center;
} */
h1, h2, h3{
    text-align: center;
}
.main_classes img{
    
    height: 100px;
    width: inherit;
   border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    /* text-decoration: none; */
    /* border-image: auto; */
}
 .main_classes {
    display: flex;
    height: inherit;
    width: 100px;
} 
#basketball {
    
    background-color:greenyellow; /* background color */
    color: white; /* text color */
   
}
#swimming {
   
    background-color:orange; /* background color */
    color:cyan; /*  text color */
    
}
#robotics {
    
    background-color:rgb(217, 32, 217); /* background color */
    color: wheat; /*  text color */
}
#chess{
    background-color: red; /* background color */
    color: bisque;/* text color */
}
#craftsmanship {
    background-color:yellow; /* background color */
    color: #181515cc; /* text color */
}
#gym {
    background-color:deeppink; /* background color */
    color: darkkhaki; /* color */
}
#logo {
    height: 100px; /* height*/
}


.main_classes{
    text-align: center;
    /* border: 1px solid black;
    margin: 0 auto;  */
    width: 100%;
}

.timeGym {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.timeGym th, .timeGym td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.timeGym th {
    background-color: #f2f2f2;
}
/* #sign{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 614px;
    width: 503px;
    background: #FFFFFF;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 3em;
} */
.classes{
    text-align: right;
}