/* body {
    text-align: center;
} */
#welcome {
        position: sticky;

    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    top: 0;
    line-height: 0.2;
   
}
h1, h2, h3{
    text-align: center;
}


.main_classes{
    text-align: center;
    /* border: 1px solid black;
    margin: 0 auto;  */
    width: 100%;
    height: inherit;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 200px; 
}

.main_classes img{
    
    height: 100px;
    width: inherit;
   border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    /* text-decoration: none; */
    /* border-image: auto; */
}

#basketball {
    
    background-color:greenyellow; /* background color */
    color: white; /* text color */
   
}
#swimming {
   
    background-color:orange; /* background color */
    color:cyan; /*  text color */
    
}
#robotics {
    
    background-color:rgb(217, 32, 217); /* background color */
    color: wheat; /*  text color */
}
#chess{
    background-color: red; /* background color */
    color: bisque;/* text color */
}
#craftsmanship {
    background-color:yellow; /* background color */
    color: #181515cc; /* text color */
}
#gym {
    background-color:deeppink; /* background color */
    color: darkkhaki; /* color */
}
#logo {
    height: 100px; /* height*/
}

.timeGym {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.timeGym th, .timeGym td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.timeGym th {
    background-color: #f2f2f2;
}
/* #sign{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 614px;
    width: 503px;
    background: #FFFFFF;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 3em;
} */
.classes{
    text-align: right;
}
/* .sign{

} */
aside{
    position: absolute;
    top: 0;
    right: -150px; /* Adjust the distance from the right */
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 120px; /* Adjust the width of the bubble */
}
/* aside ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside li {
    float: right;
    margin-right: 20px;
}
aside a {
    display: block;
    color: rgb(190, 19, 19);
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
}

aside a:hover {
    background-color: #55555538;
}
 */

nav {
    top: 0;
    background-color: #333;
    padding: 15px;
    z-index: 1000;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: space-around;   */
}

nav li {
    float: right;
    margin-right: 20px;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background-color: #555555ac;
}

.footer-flex {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-around;
}

.flex-box {
    /* flex: 1; */
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;

}
